# CONFIG_EXYNOS_SNAPSHOT_HOOK_LOGGER is not set
# CONFIG_LOCALVERSION_AUTO is not set
# CONFIG_TZ_NWFS is not set
CONFIG_A10_FACTORY_MAX_SOC=y
CONFIG_ABNORMAL_BAT_THM_WA=y
CONFIG_ANDROID_SAR_RAMDISK=y
CONFIG_BLK_DEV_LOOP_MIN_COUNT=16
CONFIG_CALC_TIME_TO_FULL=y
CONFIG_CAMERA_AAS_V10=y
CONFIG_CAMERA_ACT_DW9808_OBJ=y
CONFIG_CAMERA_CIS_3L6_OBJ=y
CONFIG_CAMERA_CIS_5E9_OBJ=y
CONFIG_CAMERA_FLASH_GPIO_OBJ=y
CONFIG_CHARGER_S2MU005=y
CONFIG_CP_UART_SWITCH=y
CONFIG_EUREKA_SOUND_CONTROL=y
CONFIG_EXYNOS7884B_A10_EUR_OPEN=y
CONFIG_EXYNOS_DECON_LCD_S6D7AT0B_A10=y
CONFIG_EXYNOS_DECON_MDNIE=y
CONFIG_EXYRNG_USE_CRYPTOMANAGER=y
CONFIG_FIMC_IS_DDK_DATA_LOAD=y
CONFIG_FMM_LOCK_OFFSET=7340680
CONFIG_FUELGAUGE_S2MU005=y
CONFIG_INPUT_TOUCHSCREEN_TCLMV2=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_LEDS_S2MU005_FLASH=y
CONFIG_MFD_S2MU005=y
CONFIG_MUIC_S2MU005=y
CONFIG_MUIC_S2MU005_DISCHARGING_WA=y
CONFIG_NEW_FACTORY_UART=y
CONFIG_RANDOMIZE_BASE=y
CONFIG_REGULATOR_S2MPB03=y
CONFIG_S2MU005_INNER_BATTERY=y
CONFIG_SAMSUNG_TUI=y
CONFIG_SEC_GPIO=y
CONFIG_SEC_VIB=y
CONFIG_SENSORS=y
CONFIG_SENSORS_CORE=y
CONFIG_SENSORS_GP2AP110S=y
CONFIG_SENSORS_LIS2DS=y
CONFIG_SENSORS_LIS2DS_I2C=y
CONFIG_SND_SOC_SMA1301=y
CONFIG_SOC_EXYNOS7884A=y
CONFIG_SOC_EXYNOS7885_ANDROID_VERSION_P=y
CONFIG_TEEGRIS_VERSION=3
CONFIG_TOUCHSCREEN_SEC_INCELL_TS=y
CONFIG_TOUCHSCREEN_SEC_TS_GLOVEMODE=y
CONFIG_TZDEV=y
CONFIG_TZDEV_BOOST=y
CONFIG_TZDEV_DEPLOY_TZAR=y
CONFIG_TZDEV_KTHREADS_SMPBOOT=y
CONFIG_TZDEV_PAGE_MIGRATION=y
CONFIG_TZDEV_SK_MULTICORE=y
CONFIG_TZIRS=y
CONFIG_TZLOG=y
CONFIG_TZLOG_PG_CNT=8
CONFIG_TZ_BOOT_LOG=y
CONFIG_VENDER_MCD_V2=y
CONFIG_VIDEO_EXYNOS_FIMC_IS2=y
