# CONFIG_EXYNOS_SNAPSHOT_HOOK_LOGGER is not set
# CONFIG_LOCALVERSION_AUTO is not set
# CONFIG_TZ_NWFS is not set
CONFIG_ABNORMAL_BAT_THM_WA=y
CONFIG_AFC_CHARGER_MODE=y
CONFIG_ANDROID_SAR_RAMDISK=y
CONFIG_BLK_DEV_LOOP_MIN_COUNT=16
CONFIG_CALC_TIME_TO_FULL=y
CONFIG_CAMERA_AAS_V20E=y
CONFIG_CAMERA_ACT_DW9808_OBJ=y
CONFIG_CAMERA_CIS_3L6_OBJ=y
CONFIG_CAMERA_CIS_4HA_OBJ=y
CONFIG_CAMERA_CIS_SR556_OBJ=y
CONFIG_CAMERA_FLASH_GPIO_OBJ=y
CONFIG_CCIC_MANUAL_QBAT=y
CONFIG_CCIC_NOTIFIER=y
CONFIG_CCIC_S2MU106=y
CONFIG_CCIC_VDM=y
CONFIG_CHARGER_S2MU106=y
CONFIG_EUREKA_SOUND_CONTROL=y
CONFIG_EXYNOS7884B_A20E_EUR_OPEN=y
CONFIG_EXYNOS_DECON_LCD_HX83102D_A20E=y
CONFIG_EXYRNG_USE_CRYPTOMANAGER=y
CONFIG_FIMC_IS_DDK_DATA_LOAD=y
CONFIG_FLIP_COVER=y
CONFIG_FMM_LOCK_OFFSET=7340680
CONFIG_FUELGAUGE_S2MU106=y
CONFIG_HV_MUIC_S2MU106_AFC=y
CONFIG_HV_MUIC_VOLTAGE_CTRL=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_LEDS_S2MU106_FLASH=y
CONFIG_MFD_S2MU106=y
CONFIG_MUIC_CORE=y
CONFIG_MUIC_HV=y
CONFIG_MUIC_HV_12V=y
CONFIG_MUIC_MANAGER=y
CONFIG_MUIC_S2MU106=y
CONFIG_MUIC_S2MU106_RID=y
CONFIG_MUIC_SUPPORT_CCIC=y
CONFIG_MUIC_SUPPORT_CCIC_OTG_CTRL=y
CONFIG_MUIC_SUPPORT_POWERMETER=y
CONFIG_MUIC_SUPPORT_PRSWAP=y
CONFIG_MUIC_SUPPORT_VBUS_BOOST=y
CONFIG_MUIC_SYSFS=y
CONFIG_PM_S2MU106=y
CONFIG_RANDOMIZE_BASE=y
CONFIG_REGULATOR_S2MPB03=y
CONFIG_S2MU106_TYPEC_WATER=y
CONFIG_SAMSUNG_TUI=y
CONFIG_SEC_DEBUG_SUPPORT_FORCE_UPLOAD=y
CONFIG_SEC_GPIO=y
CONFIG_SEC_VIB=y
CONFIG_SENSORS=y
CONFIG_SENSORS_CORE=y
CONFIG_SENSORS_ET5XX=y
CONFIG_SENSORS_FINGERPRINT=y
CONFIG_SENSORS_FP_SPI_NUMBER=1
CONFIG_SENSORS_GP2AP110S=y
CONFIG_SENSORS_LSM6DSL=y
CONFIG_SENSORS_LSM6DSL_I2C=y
CONFIG_SENSORS_YAS539=y
CONFIG_SND_SOC_SMA1301=y
CONFIG_SND_SOC_TFA9896=y
CONFIG_SOC_EXYNOS7884A=y
CONFIG_SOC_EXYNOS7885_ANDROID_VERSION_P=y
CONFIG_TEEGRIS_VERSION=3
CONFIG_TOUCHSCREEN_HIMAX_COMMON=y
CONFIG_TOUCHSCREEN_HIMAX_DEBUG=y
CONFIG_TOUCHSCREEN_HIMAX_IC_HX83102=y
CONFIG_TOUCHSCREEN_HIMAX_INCELL=y
CONFIG_TOUCHSCREEN_HIMAX_INSPECT=y
CONFIG_TOUCHSCREEN_HIMAX_SW_RESET=y
CONFIG_TZDEV=y
CONFIG_TZDEV_BOOST=y
CONFIG_TZDEV_DEPLOY_TZAR=y
CONFIG_TZDEV_KTHREADS_SMPBOOT=y
CONFIG_TZDEV_PAGE_MIGRATION=y
CONFIG_TZDEV_SK_MULTICORE=y
CONFIG_TZIRS=y
CONFIG_TZLOG=y
CONFIG_TZLOG_PG_CNT=8
CONFIG_TZ_BOOT_LOG=y
CONFIG_USB_TYPEC_MANAGER_NOTIFIER=y
CONFIG_USE_CCIC=y
CONFIG_VENDER_MCD_V2=y
CONFIG_VIDEO_EXYNOS_FIMC_IS2=y
