# CONFIG_EXYNOS_SNAPSHOT_HOOK_LOGGER is not set
CONFIG_AFC_CHARGER_MODE=y
CONFIG_CAMERA_ACT_DW9808_OBJ=y
CONFIG_CAMERA_CIS_3L6_OBJ=y
CONFIG_CAMERA_CIS_3P8SP_OBJ=y
CONFIG_CAMERA_CIS_5E9_OBJ=y
CONFIG_CAMERA_CIS_GC5035_OBJ=y
CONFIG_CAMERA_EEPROM_SUPPORT_FRONT=y
CONFIG_CAMERA_EEPROM_SUPPORT_REAR3=y
CONFIG_CAMERA_EEPROM_SUPPORT_REAR=y
CONFIG_CAMERA_FLASH_GPIO_OBJ=y
CONFIG_CAMERA_M30=y
CONFIG_CCIC_MANUAL_QBAT=y
CONFIG_CCIC_NOTIFIER=y
CONFIG_CCIC_S2MU106=y
CONFIG_CCIC_VDM=y
CONFIG_CHARGER_S2MU106=y
CONFIG_DECON_HIBER=y
CONFIG_DISPLAY_USE_INFO=y
CONFIG_EXYNOS7904_M30LTE_SWA_OPEN=y
CONFIG_EXYNOS_DECON_LCD_EA8076_M30=y
CONFIG_EXYNOS_DECON_MDNIE=y
CONFIG_EXYNOS_DOZE=y
CONFIG_EXYRNG_USE_CRYPTOMANAGER=y
CONFIG_FB_WINDOW_UPDATE=y
CONFIG_FMM_LOCK_OFFSET=7340680
CONFIG_FUELGAUGE_S2MU106=y
CONFIG_HID_PLAYSTATION=y
CONFIG_HV_MUIC_S2MU106_AFC=y
CONFIG_HV_MUIC_VOLTAGE_CTRL=y
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_LEDS_S2MU106_FLASH=y
CONFIG_MFD_S2MU106=y
CONFIG_MUIC_CORE=y
CONFIG_MUIC_HV=y
CONFIG_MUIC_MANAGER=y
CONFIG_MUIC_S2MU106=y
CONFIG_MUIC_S2MU106_RID=y
CONFIG_MUIC_SUPPORT_CCIC=y
CONFIG_MUIC_SUPPORT_POWERMETER=y
CONFIG_MUIC_SUPPORT_PRSWAP=y
CONFIG_MUIC_SYSFS=y
CONFIG_PLAYSTATION_FF=y
CONFIG_PM_S2MU106=y
CONFIG_REGULATOR_S2MPB03=y
CONFIG_SECURE_OS_BOOSTER_API=y
CONFIG_SECURE_OS_CONTROL=y
CONFIG_SEC_GPIO=y
CONFIG_SEC_VIB=y
CONFIG_SENSORS=y
CONFIG_SENSORS_CORE=y
CONFIG_SENSORS_ET5XX=y
CONFIG_SENSORS_FINGERPRINT=y
CONFIG_SENSORS_FP_SPI_NUMBER=1
CONFIG_SENSORS_LSM6DSL=y
CONFIG_SENSORS_LSM6DSL_I2C=y
CONFIG_SENSORS_STK3X3X=y
CONFIG_SENSORS_TC3XXK=y
CONFIG_SENSORS_TC3XXK_M30=y
CONFIG_SENSORS_YAS539=y
CONFIG_SND_SOC_TFA9896=y
CONFIG_SOC_EXYNOS7884=y
CONFIG_SOC_EXYNOS7885_ANDROID_VERSION_P=y
CONFIG_TOUCHSCREEN_MELFAS_MSS100=y
CONFIG_TOUCHSCREEN_SEC_TS_GLOVEMODE=y
CONFIG_TRUSTONIC_TRUSTED_UI=y
CONFIG_TRUSTONIC_TRUSTED_UI_FB_BLANK=y
CONFIG_USB_TYPEC_MANAGER_NOTIFIER=y
CONFIG_USE_CCIC=y
CONFIG_VENDER_MCD_LEGACY=y
CONFIG_VIDEO_EXYNOS_FIMC_LEGACY=y
